div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
    
}
*{
    font-family: 'Source Sans Pro', sans-serif;
}

p, body{
    margin: 0;
}

h1, h2, h3, h4{
    margin: 0;
}
ul{
    padding: 0;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.header__item{
    width: 25%;    
    display: flex;
    flex-direction: column;    
    align-items: center;
    position: relative;
    min-width: 200px;
}

.header__logo--desctop{
    margin-top: 82px;
    text-align: center;
    position: absolute;
}

.navbar--close{    
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 50px;
    display: none;
}

.navbar__icon--close{    
    display: block;
    background: #000;
    margin: 5px 0;
    position: relative;
    border-radius: 20px;
    margin-top: 50px;
}

.navbar__icon--close::after{
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
    position: absolute;
    top: 0px;
    border-radius: 20px;
    transform: rotate(45deg);
}

.navbar__icon--close::before{
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
    position: absolute;
    top: 0px;
    border-radius: 20px;
    transform: rotate(-45deg);
}

.header__logo--desctop p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;    
    font-size: 24px;
}

.nav{
    margin-top: 270px;
    list-style: none;
}

.nav__link{
    text-decoration: none;
    display: flex;
    color: #B9B9B9;
}

.nav__link:hover{
    color: #FF3C5A;
      
}

.nav_svg:hover{
    stroke: #FF3C5A;  
}

/* .active{
    color: #FF3C5A;
} */

.nav li{
    margin-bottom: 32px;    
    
}

.nav_svg{
    stroke:#B9B9B9;
}


.nav li:last-child{
    margin-bottom: 0;
}

.nav svg{
    margin-right: 12px;
}

.nav img {
    margin-right: 12px;
}

.main__item{    
    width: 75%;
    height: 100%;
    margin: 20px 20px 20px 0;
    border-radius: 50px;
    padding: 62px 0 92px;
    background-color: #EDEDED;
}

.main__head{
    text-align: center;
    margin-bottom: 56px;
}



.main__head h1{
    font-size: 48px;
    font-weight: 600;
    
}

.main__head p{
    font-weight: 400;
    font-size: 24px;
}

.main__inner{
    margin: 0 92px 40px;
}

.main__inner:last-child{
    margin: 0 92px;
}

.main__inner p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.main__inner-title span{
    color: #FF3C5A;
    font-weight: 600;
}

.main__block{
    width: 100%;
}

.float::after{
    content: "";
    display: table; 
    clear: both;
}

.main__block-item__float{    
    height: 200px;
    background-color: #ffff;    
    float: left;
    width: 200px;
    margin: .5rem .8rem;


    border-radius: 6px;
    box-shadow: 0px 8px 4px 0px rgba(34, 60, 80, 0.25);
}

.main__block-item__float:last-child{
    margin-right: 0;
}
.main__block-item__float:first-child{
    margin-left: 0;
}

.grid{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-between;
}

.main__block-item__grid{
    width: 200px;
    background-color: #ffff;
    height: 200px;
    border-radius: 6px;
    box-shadow: 0px 8px 4px 0px rgba(34, 60, 80, 0.25);
}


.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__block-item__flex{
    width: 200px;
    background-color: #ffff;
    height: 200px;    
    margin-bottom: 20px; 
    border-radius: 6px;
    box-shadow: 0px 8px 4px 0px rgba(34, 60, 80, 0.25);
}

@media screen and (max-width: 1000px) {

    .main__block-item__float{
        margin: 10px 0;
    }

    .main__block-item__float:last-child{
        margin-bottom: .8rem;
    }
    .main__block-item__float:first-child{
        margin-bottom: .8rem;
    }
}



@media screen and (max-width: 375px) {
    .header__item{
        display: none;
        width: 100%;
    }

    .header__logo--desctop{
        display: none;
    }    
    .navbar--close{
        display: flex;
    }

    .logo__mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header__logo-mobile{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        position: relative;     
        display: block;   
    }
    
    .header__logo-mobile p{
        font-size: 18px;
    }
}